.home {
  height: 100vh;
  width: 100vw;
  background-color: #ebebdc;
  position: relative;
  overflow: hidden;
}

.overlay {
  opacity: 0.4;
  background-color: #ebebdc;
}

svg {
  height: 100vh;
  width: 100vw;
}

circle {
  opacity: 0.6;
}
